.boxImg1 img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}
.boxImg1:hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
.bg1 {
  position: absolute;
  bottom: 80px;
  left: 0;
  width: 15%;
  z-index: 0;
}
.scroll::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; 
  scrollbar-width: none;
}