.slide img {
    width: 20rem;
    margin: 0 auto;
}
  
/* .slide {
    transform: scale(0.7);
    transition: transform 600ms;
} */
  
/* .activeSlide {
    transform: scale(1);
}
  
.arrow {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
} */

.slickArrow {
    color: black !important;
}

.slickArrow::after,  .slickArrow::before {
    color: black !important;
}

.slickNext {
    right: 0;
}

.slickPrev {
    left: 0;
    z-index: 3;
}

.swiperButtonPrev, .swiperButtonNext {
    background-color: #e80505;
    color: #01352C;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

.swiper-button-prev, .swiper-button-next {
  background-color: #e80505;
  color: #01352C;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.swiper-button-prev::after, .swiper-button-next::after {
  font-size: 20px;
  
}

.swiperButtonPrev::after, .swiperButtonNext::after {
  font-size: 20px;
}